// Import base style
@import "base";

// Optional Bootstrap components
@import "node_modules/bootstrap/scss/card";
@import "node_modules/bootstrap/scss/forms";

#jumbo {
	overflow: hidden;
	position: relative;
	#cube {
		left: -5rem;
		bottom: -5rem;
	}
	#pattern {
		right: -5rem;
		bottom: -5rem;
	}
}

#who {
	margin-top: -20px;
	border-radius: 8px;
	box-shadow: 0 12px 24px 0 rgba(0,0,0,0.06);
	img {
		box-shadow: 0 8px 24px 0 rgba(0,0,0,0.16);
		border-radius: 8px;
	}
}

#what {
	overflow: hidden;
	position: relative;
	#nodes {
		bottom: 0;
		left: 0;
		background-image: linear-gradient(180deg, #F8F9FA, #fbdb4400), url(../img/Nodes.png);
		background-repeat: repeat-x;
		background-position: left bottom;
		width: 100%;
		height: 100%;
	}
	.card {
		box-shadow: 0 12px 24px 0 rgba(0,0,0,0.06);
		border-radius: 4px;
		.push {
			padding-top: $h4-font-size / 2;
		}
		a {
			left: 50%;
			bottom: 25px;
			-webkit-transform: translateX(-50%);
			transform: translateX(-50%);
		}
	}
}