$jumbotron-bg: white;

// Import base style
@import "base";

// Optional Bootstrap components
@import "node_modules/bootstrap/scss/card";
@import "node_modules/bootstrap/scss/forms";

#jumbo {
	overflow: hidden;
	position: relative;
	#cube {
		left: -5rem;
		bottom: -5rem;
	}
	#pattern {
		right: -5rem;
		bottom: -5rem;
	}
}